body{
    text-align: center;
    justify-content: center;
    margin: 10%;
    font-size: 65px;
    
}
.input {
    font-size: 35px;
}
.labels {
    display:block;
}
.submit {
    display:block;
    margin-left: 50%;
    transform:translate(-50%,0%);
    height: 30px;
    width: 65px;
}
.title{
    display:block;
}